<h1><small>Email confirmation</small></h1>

Hello {{ userEmail }},<br><br>

To confirm your email address open <a href="{{ link }}">this</a> page.

Thank you for using our services

Yours sincerely,
Animal Ads