{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}


    <div class="ui main text container" style="min-height: 70%">
        <h1 class="ui header">Your Messages</h1>
        <div class="ui list">
            {% for message in messages %}
            <div class="item" {% if not message.isRead %} style="background-color: rgba(0, 0, 255, 0.1);" {% endif %}>
                <i class="comment icon"></i>
                <div class="content">
                    <a class="header" href="{{ path('message_read', { id: message.id }) }}">{{ message.title }}</a>
                    <div class="description">
                        From <b>{{ message.sentFrom.email }}</b> at {{ message.writtenAt|date('Y-m-d H:i') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
