{% extends 'base.html.twig' %}

{% block title %}Animals!{% endblock %}

{% block body %}
    <div class="ui main text container">
        <h1 class="ui header">Boost post</h1>
        <a class="ui primary right floated button">Proceed to payment</a>
    </div>
{% endblock %}