{% extends 'base.html.twig' %}

{% block title %}Animals!{% endblock %}

{% block body %}
    <div class="ui main text container">
        <h1 class="ui header">Sending report</h1>
        <div class="ui segment">
            <p>Sending report about the following post: {{ ad.title }}.</p>
            <p>Please provide details about why you think this post is unacceptable and we will be sure to review it.</p>
        </div>
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
            <div class="field">
                {{ form_row(form.reportMessage) }}
            </div>
            <button class="ui primary right floated button" type="submit">Send</button>
        {{ form_end(form) }}
        
    </div>
{% endblock %}