<h1><small>Ad report</small></h1>

<p>An ad with the id {{ ad.id }} has been reported by user - {{ user.email }} and requires review.</p>
<p>This is the submited report message:</p>
<p>{{ message }}</p>